<h1>Análise de Dados Coletados</h1>

<TextAreaDeLog TextAreaLabel="Insira os dados do log de resumo" TextAreaTipoDeLog="TipoDeLogEnum.Resumo" @bind-TextAreaConteudo="_resumoTextAreaConteudo" />
<TextAreaDeLog TextAreaLabel="Insira os dados do log de copiloto" TextAreaTipoDeLog="TipoDeLogEnum.Copiloto" @bind-TextAreaConteudo="_copilotoTextAreaConteudo" />
<TextAreaDeLog TextAreaLabel="Insira os dados do log de monitor" TextAreaTipoDeLog="TipoDeLogEnum.Monitor" @bind-TextAreaConteudo="_monitorTextAreaConteudo" />

<div class="form-check mt-4">
    <input class="form-check-input" type="checkbox" @bind="@_salvarCarregamento" id="htmlChkSalvarSessao">
    <label class="form-check-label" for="htmlChkSalvarSessao">
        Salvar Carregamento
    </label>
</div>

<div class="form-group mt-4 mb-4">
    <button class="btn btn-primary" @onclick="@AtivaLogs">Carregar Logs</button>
</div>

<Painel @ref="_painel" Viewmodel="@_painelViewmodel">
    <childContent><h4>Mapa</h4></childContent>
    <Subtitulo><h5>Posicionamento dos marcadores</h5></Subtitulo>
</Painel>

@code {
    private Painel? _painel;
    private PainelViewmodel _painelViewmodel = new();

    private bool _salvarCarregamento = true;
    private string _resumoTextAreaConteudo = string.Empty;
    private string _monitorTextAreaConteudo = string.Empty;
    private string _copilotoTextAreaConteudo = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        _resumoTextAreaConteudo = await js.InvokeAsync<string>("localStorageManager.obtemItem", ChavesDoLocalStorage.CHAVE_LOCAL_STORAGE_RESUMO);
        _monitorTextAreaConteudo = await js.InvokeAsync<string>("localStorageManager.obtemItem", ChavesDoLocalStorage.CHAVE_LOCAL_STORAGE_MONITOR);
        _copilotoTextAreaConteudo = await js.InvokeAsync<string>("localStorageManager.obtemItem", ChavesDoLocalStorage.CHAVE_LOCAL_STORAGE_COPILOTO);
        await base.OnInitializedAsync();
    }

    private async Task AtivaLogs()
    {
        if (_painel is not null)
        {
            _painel.LimpaTodosSelects();
            await _painel.RedefineSelects();
        }

        if (string.IsNullOrWhiteSpace(_resumoTextAreaConteudo) || !_resumoTextAreaConteudo.HasJsonFormatString() ||
            string.IsNullOrWhiteSpace(_monitorTextAreaConteudo) || !_monitorTextAreaConteudo.HasJsonFormatString() ||
            string.IsNullOrWhiteSpace(_copilotoTextAreaConteudo) || !_copilotoTextAreaConteudo.HasJsonFormatString())
        {
            ((JSInProcessRuntime)js).InvokeVoid("alert", "As áreas de texto precisam conter dados no formato Json");
            return;
        }

        var resumos = CarregaResumos();
        var atitudes = CarregaCopiloto(resumos);
        var snapshots = CarregaMonitor(atitudes);

        if (resumos == null || (!resumos.Any()) ||
            atitudes == null || (!atitudes.Any()) ||
            snapshots == null || (!snapshots.Any()))
            return;

        PreencheViewmodelDoPainel(resumos!, atitudes!, snapshots!);

        if (_salvarCarregamento)
        {
            await js.InvokeVoidAsync("localStorageManager.adicionaItem", [ChavesDoLocalStorage.CHAVE_LOCAL_STORAGE_RESUMO, _resumoTextAreaConteudo]);
            await js.InvokeVoidAsync("localStorageManager.adicionaItem", [ChavesDoLocalStorage.CHAVE_LOCAL_STORAGE_MONITOR, _monitorTextAreaConteudo]);
            await js.InvokeVoidAsync("localStorageManager.adicionaItem", [ChavesDoLocalStorage.CHAVE_LOCAL_STORAGE_COPILOTO, _copilotoTextAreaConteudo]);
        }
        else
        {
            await js.InvokeVoidAsync("localStorageManager.limpaStorage");
        }

        ((IJSInProcessRuntime)js).InvokeVoid("alert", "Novos logs carregados.");
    }

    private IEnumerable<Resumo>? CarregaResumos()
    {
        var resumos = _resumoTextAreaConteudo.Trim().Split("\n").Select(l => JsonSerializer.Deserialize<Resumo>(l));
        if (resumos.IsNullOrEmptyCollection()) return null;
        resumos = resumos.RemoveNulls();

        if (resumos.First()!.TipoDeLog != TipoDeLogEnum.Resumo)
        {
            ((JSInProcessRuntime)js).InvokeVoid("alert", "Formato de log não reconhecido no campo Resumo");
            return null;
        }

        var resumosOrdenados = resumos.OrderBy(r => r!.Id);
        return resumosOrdenados!;
    }

    private IEnumerable<Copiloto>? CarregaCopiloto(IEnumerable<Resumo>? resumosOrdenados)
    {
        var atitudes = _copilotoTextAreaConteudo.Trim().Split("\n").Select(l => JsonSerializer.Deserialize<Copiloto>(l));
        if (atitudes.IsNullOrEmptyCollection()) return null;
        atitudes = atitudes.RemoveNulls();

        if (atitudes.First()!.TipoDeLog != TipoDeLogEnum.Copiloto)
        {
            ((JSInProcessRuntime)js).InvokeVoid("alert", "Formato de log não reconhecido no campo Copiloto");
            return null;
        }

        var atitudesOrdenadas = atitudes.OrderBy(a => a!.Id).ToList();
        return atitudesOrdenadas!;
    }

    private IEnumerable<Snapshot>? CarregaMonitor(IEnumerable<Copiloto?>? atitudesOrdenadas)
    {
        var snapshots = _monitorTextAreaConteudo.Trim().Split("\n").Select(l => JsonSerializer.Deserialize<Snapshot>(l));
        if (snapshots.IsNullOrEmptyCollection()) return null;
        snapshots = snapshots.RemoveNulls();

        if (snapshots.First()!.TipoDeLog != TipoDeLogEnum.Monitor)
        {
            ((JSInProcessRuntime)js).InvokeVoid("alert", "Formato de log não reconhecido no campo Monitor");
            return null;
        }

        var snapshotsComIdCorrelacionado = new List<Snapshot>();

        snapshots
            .GroupBy(s => new { s!.Latitude, s.Longitude }).ToList()
            .ForEach(g =>
            {
                g.ToList()
                .ForEach(s =>
                {
                    s!.CorrelatoId = g.First()!.Id;
                    snapshotsComIdCorrelacionado.Add(s);
                });
            });

        var snapshotsOrdenados = snapshotsComIdCorrelacionado.OrderBy(s => s!.Id).ToList();
        return snapshotsOrdenados!;
    }

    private void PreencheViewmodelDoPainel(
        IEnumerable<Resumo> resumos,
        IEnumerable<Copiloto> atitudes,
        IEnumerable<Snapshot> snapshots)
    {
        _painelViewmodel.Resumos = resumos.ToList();
        _painelViewmodel.Copilotos = atitudes.ToList();
        _painelViewmodel.Snapshots = snapshots.ToList();

        foreach (var resumo in resumos)
        {
            if (resumo != null)
            {
                _painelViewmodel.ResumosDtos.Add(
                    new Domain.DTO.ResumoDTO
                    {
                        Valor = resumo.Id.ToString(),
                        Descricao = resumo.Id +
                            " - Sens: " + resumo.SensibilidadeGps +
                            " | DistMin: " + resumo.DistanciaMinimaConsiderada +
                            " | Decims: " + resumo.FatorDeCasasDecimais
                    });
            }
        }
    }
}
